<html>
<head>
<title>Autism Spectrum Disorder</title>
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" >
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/41a1696486.js" crossorigin="anonymous"></script>
</head>
<body>
<!-----NavigationBar---->
<section id="nav-bar">
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../img/logo1.jpg">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<!--    <div class="collapse navbar-collapse" id="navbarNav">-->       
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#top">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">SYNOPSIS</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="#prediction">PREDICTION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team">TEAM</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="#guide">GUIDE</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="#contact">CONTACT</a>
          </li>
        </ul></a>
        </div>
</nav>    
</section>
<!----Slider---->
<div id="slider">
<div id="headerSlider" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#headerSlider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#headerSlider" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#headerSlider" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#headerSlider" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../img/10.jpg" class="d-block img-fluid">
    </div>
    <div class="carousel-item">
      <img src="../img/11.jpg" class="d-block img-fluid">
    </div>
    <div class="carousel-item">
      <img src="../img/12.jpg" class="d-block img-fluid">
    </div>
      <div class="carousel-item">
      <img src="../img/16.jpg" class="d-block img-fluid">
    </div>
  </div>
     <div class="overlay"></div>
    <div class="carousel-caption">
            <h5>Prediction of Autism Spectrum Disorder</h5>
        </div>
  <button class="carousel-control-prev" type="button" data-bs-target="headerSlider" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="headerSlider" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<section id="about">
<div class="container">
    <center><h1>SYNOPSIS</h1></center><br>
<div class="about-image">
    <center><img src="../img/4.jpg" class="d-block img-fluid"></center>    
</div>    
</div>
<div class="about-content">
<p><b>Autism Spectrum Disorder (ASD) is a neurocognitive disorder that deteriorates interaction, communication, and learning skills of a person. 
Normal people can understand and reply to their actions, 
but autistic children are poor at responding to the actions. Usually, Autistic children
face different kinds of challenges like lack of concentration, learning impairment, psychological problems like anxiety, depression, sensory 
problems, locomotion problems etc.,

ASD diagnosis involves a significant amount of time and value. Prior detection of disorder can come to a great help by recommending patients with the appropriate medication at the premature phase. It improves the patient’s illness from deteriorating further and would help to cut back on long-term expenses associated with overdue diagnosis. 

The existing explosion rate of ASD around the world is numerous and is increasing at a high rate. According to World Health Organization, about one in out of 160 children is affected by autism. Some affected individuals can live on their own, while some require additional care and support.
Therefore, time-efficient, accurate and straightforward predicting model is required which might predict autistic features in people and identify whether the individual require comprehensive assessment or not. 

Autism seems to be strongly influenced by genetics. The research results show that in an identical twin the concordance rate is in between 60% - 90%, whereas concordance rates for fraternal twins & siblings lie in between 5%-10%. The autism is being implicated by various genes and gene mutations. The various genes involved are the ones which are responsible for the formation of synaptic circuits that enables the communication between different parts of the brain.  Several environmental factors are thought to be related to an amplified risk of ASD, a minimum of partially, because they contribute to new mutations.
    </b></p> <br>
<a href="https://en.wikipedia.org/wiki/Autism"><button type="button" class="btn btn-primary">Read more >></button></a> 
</div>
</section>
<!----Prediction------>
<section id="prediction">
    <div class="container">
    <h1>PREDICTION</h1>
    <center>
    <div class="row prediction">
    <div class="col-md-6 text-center">
    <div class="icon">
    <i class="fas fa-sticky-note"></i>
    </div>
    <h3>Predict through Report</h3>
    <p>From report use the following parameters to predict the autism</p><br>
        <a href="http://127.0.0.1:5000/"><button type="button" class="btn btn-primary">Predict</button></a>
    </div>
        <div class="col-md-6 text-center">
    <div class="icon">
    <i class="fas fa-images"></i>
    </div>
    <h3>Predict through Images</h3>
    <p>Upload the image to predict the autistic or non-autistic</p> <br>
            <a href="http://127.0.0.1:5000/"><button type="button" class="btn btn-primary">Predict</button></a>
    </div> 
        <button type="button" class="btn"></button>
    </div>
        </center>
    </div>
</section>
<section id="team">
    <div class="container">
    <h1>Our Team</h1>
    <div class="row">
    <div class="col-md-4 profile-pic text-center">
    <div class="img-box">
    <img src="../img/profile1.jpg" class="img-responsive">
    <ul>
    <a href="https://github.com/shivakiransastry"><li><i class="fab fa-github"></i></li></a>
    <a href="https://www.linkedin.com/in/shivakiran-sastry-g-572006146"><li><i class="fab fa-linkedin"></i></li></a>
    </ul>
    </div>
        <h3>Shivakiran Sastry G</h3>
        <p>B.E Computer Science Engineering</p>
        <p>AMC Engineering College</p>
    </div> 
        <div class="col-md-4 profile-pic text-center">
    <div class="img-box">
    <img src="../img/profile2.jpg" class="img-responsive">
    <ul>
    <a href="https://github.com/sanjayk06"><li><i class="fab fa-github"></i></li></a>
    <a href="https://www.linkedin.com/in/sanjay-k-ab8806194"><li><i class="fab fa-linkedin"></i></li></a>
    </ul>
    </div>
        <h3>Sanjay K</h3>
        <p>B.E Computer Science Engineering</p>
        <p>AMC Engineering College</p>
    </div> 
        <div class="col-md-4 profile-pic text-center">
    <div class="img-box">
    <img src="../img/profile3.jpg" class="img-responsive">
    <ul>
    <a href="https://github.com/mandy9151"><li><i class="fab fa-github"></i></li></a>
    <a href="https://www.linkedin.com/in/sriram-manideep-4059741a1"><li><i class="fab fa-linkedin"></i></li></a>
    </ul>
    </div>
        <h3>Sriram Manideep</h3>
        <p>B.E Computer Science Engineering</p>
        <p>AMC Engineering College</p>
    </div> 
    </div>
    </div>
</section>
    <section id="guide">
    <div class="container">
    <h1>Under the guidance of</h1>
    <div class="row">
    <div class="col-md-12 profile-pic text-center">
    <div class="img-box">
    <img src="../img/guide.jpg" class="img-responsive">
    <ul>
    <a href="https://www.linkedin.com/in/srividhya-g-20971951/"><li><i class="fab fa-linkedin"></i></li></a>
    </ul>
    </div>
        <h3>Srividhya Ganesan</h3>
        <p>Associate Prof, Dept of CSE</p>
        <p>AMC Engineering College</p>
    </div>
    </div>
    </div>
    </section>
<!-----Contact Us------->
<section id="contact">
    <div class="container">
    <h1>Get In Touch</h1>
    <div class="row">
    <div class="col-md-6">
        </div><br>
        <h2>Send your Doubts by clicking here</h2><br>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdW-cDhmNIdhy96MPjMgBz1c5Uh2-tPHi17qj0ux2rAAllPAA/viewform?usp=sf_link"><button type="button" class="btn btn-primary">Click here</button></a>
    </div> <br>
    <div class="col-md-6 contact-info">
        <div class="follow"><u><b> Contact Us: </b></u></div>
        <div class="follow"><i class="far fa-envelope"></i><b> Gmail: </b>sanjsan6799@gmail.com</div>
        <div class="follow"><i class="fab fa-github"></i><b>github: </b>github.com/master06</div>
    </div>
    </div>
</section>
<!----Footer Section---->
    <section id="footer">
    <div class="container text-center">
    <p>Copyright &copy;2021 All rights reserved</p>    
    </div>
    </section>
    <script src="../static/js/smooth-scroll.js"></script>
    <script>
	var scroll = new SmoothScroll('a[href*="#"]');
</script>
</body>
</html>